.rounded-circle{
  width: 60%;
  background-color:  rgba(255,222,89, 0.5) ;
}

.card-body{
  padding: 2rem 0 !important;
  height: 10%;
 
 
}

.member-card{
  background-color:  rgba(255,222,89, 0.5) ;
  border-radius: 5%;
}

.member-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(12, 12, 12, 0.273) !important;
  transition: all 0.7s linear;
}

.text{
  color: #000;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  padding-left: 16px;
  padding-right: 16px;
}

