.navbar {
  font-family: "philosopher";
 
}

#logo {
  margin-top: -20px;
  max-height: 75px;
}
.navbar-brand img {
  margin-right: 20px;
  margin-left: 60px;
  height: 105px;
}

.navbar-nav {
  width: auto;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  margin-top: 10px;
  line-height: 70px;
}

.navbar-nav .nav-link:hover {
  color: #FFDE59;
  font-size: 19px;
  transition: 0.4s;
}




