.nosotros-container {
    margin-top: 2rem;
    font-family: "philosopher";
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 120vh;
    display:flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;  
    margin-bottom: -0.5rem;
  }
  
  .text-container  {
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem; 
  }
  .text-container h1, .text-container h3 {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: rgba(255, 222, 89, 0.788);
  }
  
  .logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logos-container img {
    margin-top: 5rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  

  /* Tamaño por defecto pantallas (1280-1024) */
  @media all and (min-width: 1024px) and (max-width: 1280px) { 
    
    
    .text-container {
      margin-top: 2rem;
      margin-left: 6rem;
      margin-right: 6rem; 
    }
    .text-container h1, .text-container h3 {
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
      color: rgba(255, 222, 89, 0.788);
    }
    
    .logos-container {
      display: flex;
      justify-content: center;
    }
    
    .logos-container img {
      margin-top: 5rem;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

  }
  

/* Tamaño tablet horizontal (1024-768) */  @media all and (min-width: 768px) and (max-width: 1024px) {
    .nosotros-container {
      margin-top: 3rem;
      font-family: "philosopher";
      font-weight: bold;
      color: rgb(0, 0, 0);
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
      background-size: cover;
      display:flex;
      justify-content: center; 
      flex-wrap: wrap;  
      align-items: center;
      margin-bottom: -0.5rem;
   
    }
    .text-container {
      margin-top: 3rem;
      margin-left: 1rem;
      margin-right: 1rem; 
      padding-top: 2rem;
      margin-bottom: 3rem;
    
      }
        .logos-container img {
        margin-top: 5rem;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
      
     
    }

     /* Tamaño tablet (768-480) */
  @media all and (min-width: 480px) and (max-width: 768px) {
    .nosotros-container {
      margin-top: 2rem;
      font-family: "philosopher";
      font-weight: bold;
      color: rgb(0, 0, 0);
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
      background-size: cover;
      display:flex;
      justify-content: center; 
      flex-wrap: wrap;  
      align-items: center;
      margin-bottom: -0.5rem;
   
    }

    .text-container {
      margin-top: 8rem;
      margin-left: 1rem;
      margin-right: .5rem; 
      padding-top: .5rem;
      margin-bottom: 2rem;
    
      }
      
      .logos-container img {
        margin-top: 8rem;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      
     
      
    }
   
  /* Tamaño teléfonos (480-menos ) */
    @media  (max-width: 480px) {

      .nosotros-container {
        margin-top: 2rem;
        font-family: "philosopher";
        font-weight: bold;
        color: rgb(0, 0, 0);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 150%;
        display:flex;
        justify-content: center; 
        flex-wrap: wrap;  
        align-items: center;
        margin-bottom: -0.5rem;
     
      }
  
      .text-container {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem; 
        padding-top: 2rem;
        margin-bottom: 2rem;
      
        }
        
        .logos-container img {
          margin-top: 5rem;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        
       
      }


  
  /* Tamaño teléfonos (320-menos ) */
 @media  (max-width: 320px) {
  .nosotros-container {
    margin-top: 3rem;
    font-family: "philosopher";
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 200%;
    display:flex;
    justify-content: center; 
    flex-wrap: wrap;  
    align-items: center;
    margin-bottom: -0.5rem;
 
  }

  .text-container  {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: .5rem; 
    padding-top: .5rem;
    margin-bottom: .5rem;
  
 }
    
    .logos-container img {
      display: none;
    }
   
  }

  
 
  
 


  

