.data{
    height: 100vh;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;  
    margin-bottom: -0.5rem;
    color: #FFDE59;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.data h2, .data h6 {
     text-shadow: 2px 2px 2px black;
     font-family: "Tilt neon";
}

thead { 
    color:#FFDE59;
}
 h2{
    color:#F99730;
    padding-top: 4rem;
 }


 /* Tamaño por defecto pantallas (1280-1024) */
 @media all and (min-width: 1024px) and (max-width: 1280px) {
    .data{
        height: 150%;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;  
        margin-bottom: -0.5rem;
        color: #FFDE59;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    h2{
        color:#F99730;
        padding-top: 8rem;
     }
  }

  @media all and (min-width: 480px) and (max-width: 768px){
    .data{
        height: 100vh;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap; 
        color: #FFDE59;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('../wallpaper/bg2.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    h2{
        color:#F99730;
        padding-top: 5rem;
     }

     .text-center{
        width: 100%;
     }

    
  }



  