
.animated-image {
  position: relative;
  animation: slide-in-left 2s forwards;
  transform: translateX(100%);
  flex-wrap: wrap;  
  margin-bottom: -0.8rem;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card {
  height: 98%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  width: 100%;
  text-align: center;
  background-color:  rgba(255,222,89, 0.5) ;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}


.con{
  margin-top: -.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('./components/wallpaper/bg3.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-bottom: -.5rem;
}

h1 {
  animation: move 3s;
  -webkit-animation: move 3s;
}

h1{
  padding-left: 30px;
  margin-top: 10%;
  font-family: "Tilt neon";
  color:black;
  font-weight: bold;
}

#input{
  width: 400px;
  margin-right:  10px;
  margin-top:30%;
  box-shadow: "0px 0px 10px rgba(0, 0, 0, 0.5)";
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#button {
  border-radius:5px;
  color: white;
  background-color:transparent;
  padding: 10px 10px 10px 10px;
}

#button:hover {
  animation-name: background-color;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  100%{
    background-color:black;
  }
  50% {
    background-color:yellow;
  }
  30% {
    background-color:orange;
  }
}



/* Querys */

@media (max-width:768px){


  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width: 80vh;
    height: 150vh;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
   
  }

  .container{
    display: flex;
    flex-wrap: wrap;
 
  }
  .card{
    width: 10%;
  }
  #button{
    display: none;
  }
  h1{  
    padding-top: 1rem;
     
  }
  
  .animated-image{
    margin-top: -4rem;
  }
  
 
}

@media (max-width:1200px){
  .animated-image{
    margin-top: -3rem;
  }

  #button{
    margin-right: 5rem;
  }
}



/* Tamaño tablet horizontal (1024-768) */
@media all and (min-width: 768px) and (max-width: 1024px){
  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width: 100vh;
    height: 150vh;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
   
  }

  .container{
    display: flex;
    flex-wrap: wrap;
 
  }
  .card{
    width: 10%;
  }
  #button{
    display: none;
  }
  h1{  
    padding-top: 1rem;
     
  }
  
  .animated-image{
    margin-top: -4rem;
  }
}



@media (max-width:480px){
  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width: 50vh;
    height: 200vh;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
   
  }

  #form{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: -80%;
   
  }
  #input{
    width: 100px;
    justify-content: center;
    align-items: center;

  }
 
  h1{
    padding-top: 2rem;
    font-size: 20px;
  }
  #cartas{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .animated-image{
    display: none;
    
  }

  #button{
    display: none;
  }



  
}


@media (max-width:320px){
  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width: 40vh;
    height: 200vh;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
 
   
  }

  #form{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: -80%;
   
  }
  #input{
    width: 50%;
    justify-content: center;
    align-items: center;

  }
 
  h1{
    padding-top: 2rem;
    font-size: 20px;
  }
  #cartas{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 .animated-image{
    display: none;
  }
}
