.animated-image {
  position: relative;
  animation: slide-in-left 2s forwards;
  transform: translateX(100%);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


