
.animated-image {
  position: relative;
  animation: slide-in-left 2s forwards;
  transform: translateX(100%);
  flex-wrap: wrap;  
  margin-bottom: -0.8rem;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card {
  height: 98%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  width: 100%;
  text-align: center;
  background-color:  rgba(255,222,89, 0.5) ;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.d-flex button {
margin-left: 25rem;
}



@media (min-width:760px){
  .container{
    width: 740px;
  }
  .card{
    width: 20%;
  }

  #logo {
    visibility: none;
  }
}



@media (min-width:990px){
  .container{
    width: 970px;
  }
}


