
.animated-image {
  position: relative;
  animation: slide-in-left 2s forwards;
  transform: translateX(100%);
  flex-wrap: wrap;  
  margin-bottom: -0.8rem;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card {
  height: 98%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  text-align: center;
  background-color:  rgba(255,222,89, 0.5) ;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}


.con{
  margin-top: -.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(249,151,48, 0.5)), url('./components/wallpaper/bg3.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-bottom: -.5rem;
}



#h1{
  margin-left: 50px;
  margin-top: 10%;
  font-family: "Tilt neon";
  color:black;
  font-weight: bold;
 
}

h4{
  margin-left: 20px;
  margin-top: 10%;
  font-family: "Tilt neon";
  color:black;
  font-weight: bold;
}

h1, h4 {
  animation: move 3s;
  -webkit-animation: move 3s;
}

#input{
  width: 400px;
  margin-right:  10px;
  margin-top:30%;
  box-shadow: "0px 0px 10px rgba(0, 0, 0, 0.5)";
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#button {
  border-radius:5px;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
}
#button {

  width:200px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: #000;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  box-shadow: 0 6px 6px #FFDE59 ;
  outline: none;
}
#button:active {
  /* set time duration to your needs */
  animation: gradient 100ms;
  background: #FFDE59;
  color: #fff;
  box-shadow: none;
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba(255, 225, 89, 0.2) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba(248, 224, 9, 0.5) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba(228, 212, 70, 0.8) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #FFDE59 99%, #fff 100%, #fff 100%);
  }
}



@keyframes background-color {
  100%{
    background-color:black;
  }
  50% {
    background-color:yellow;
  }
  30% {
    background-color:orange;
  }
}



/* Querys */



@media (max-width:1200px){
  .animated-image{
    margin-top: -3rem;
  }

  #button{
    margin-right: 5rem;
  }
}



   /* Tamaño tablet (768-480) */
   @media all and (min-width: 480px) and (max-width: 768px) {
    .con{
      margin-top: -.2rem;
      background-size: cover;
      margin-bottom: -.5rem;
      width: auto;
      align-items: center !important;
      justify-content: center !important;
      text-align: center;
     
    }
    #button{
      display: none;
    }

    .animated-image{
      margin-top: -4rem;
    }
    
   }

/* Tamaño tablet horizontal (1024-768) */
@media all and (min-width: 768px) and (max-width: 1024px){
  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width: auto;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
   
  }

  .container{
    display: flex;
    flex-wrap: wrap;
 
  }
  .card{
    width: 10%;
  }
  
  h1{  
    padding-top: 1rem;
     
  }
  
  .animated-image{
    margin-top: -4rem;
  }
}


   


@media (max-width:480px){
  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width: auto;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
   
  }

  #form{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: -80%;
   
  }
  #input{
    width: 100px;
    justify-content: center;
    align-items: center;

  }
 
  #h1, h4{
    padding-top: 2rem;
    font-size: 12px;
    margin-left: 0;
  }

  #cartas{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .animated-image{
    display: none;
    
  }

  #button{
    display: none;
  }



  
}


@media (max-width:320px){
  .con{
    margin-top: -.2rem;
    background-size: cover;
    margin-bottom: -.5rem;
    width:100%;
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  
  }



  #form{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: -80%;
   
  }
  #input{
    width: 50%;
    justify-content: center;
    align-items: center;

  }
 
  #h1, h4{
    padding-top: 2rem;
    font-size: 10px;
    padding-left: none;
  }
cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
  }

  
 .animated-image{
    display: none;
  }
}

#tittle{
  font-size: 10px;
}




